<!DOCTYPE html>
<html lang="en" dir="ltr">
  <head>
    <meta charset="utf-8">
    <title></title>
  </head>
  <body>
    <fieldset>
      <form class="" action="/Employee/myProfile">
        <input type="submit" name="" value="My Profile">
      </form>
      <br><hr><br>
      <form class="" action="/Employee/update">
        <input type="submit" name="" value="Update Profile">
      </form>
    </fieldset>
  </body>
</html>
